$accent: #335;
$u: 20px;

body, html {
    background: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
}

a {
    color: $accent;
    text-decoration: none;
}

ul.answers {
    list-style-type: none;
    display: table;
    font-size: 1.2em;

    li:before {
        content: "–";
        position: relative;
        left: -10px;
        color: #ccc;
        display: table-cell;
    }

    li {
        line-height: 2em;
        display: table-row;
    }
}

nav {
    padding: $u;
    background: #efefef;

    .title {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 2em;
        color: $accent;
        text-decoration: none;
    }
}

h1 {
    font-weight: bold;
    margin: $u;
}

.button {
    background: $accent;
    border: 2px solid $accent;
    padding: $u;
    display: block;
    color: lighten($accent, 50%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.3em;
    text-align: center;

    -webkit-transition: all 0.3s;
    -moz-transition:    all 0.3s;
    -o-transition:      all 0.3s;
    -webkit-transition: all 0.3s;

    &:hover {
        background: lighten($accent, 10%);
    }
}

.side-nav {
    position: absolute;
    right: 0;
    top: -$u * 3;

    a {
        width: 2 * $u;
        height: 2 * $u;
        text-align: center;
        line-height: 2 * $u;
        display: inline-block;
    }
}

.progress-bar {
    height: 0;

    border-top: 4px solid #ccc;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    &.colored {
        border-top: 4px solid lighten($accent, 30%);
    }
}

.input-container {

    position: relative;
    padding: 0 $u + 2px;
    margin: 0 0 $u 0;

    input {
        display: block;
        width: 100%;
        font-size: 1.3em;
        outline: none;
        margin-left: -$u;
        font-family: 'Open Sans', sans-serif;

        border: 2px solid #ddd;

        padding: $u;

        box-sizing:         content-box;
        -ms-box-sizing:     content-box;
        -moz-box-sizing:    content-box;
        -webkit-box-sizing: content-box;

        -webkit-transition: all 0.3s;
        -moz-transition:    all 0.3s;
        -o-transition:      all 0.3s;
        -webkit-transition: all 0.3s;

        &:focus {
            outline: none;
            border: 2px solid $accent;
            color: $accent;
        }
    }

    .modify {
        position: absolute;
        top: $u;
        right: $u;
        font-size: 2.2em;

        &.light {
            color: #aaa;
        }
    }
}

section {
    position: relative;
    padding: $u;
}

.timer {
    background: #eee;
    padding: $u / 2;
    border-radius: 5px;
    color: #333;
    float: right;
    text-align: center;
}

.container {
    max-width: 1000px;
    margin: auto;
    background: #fff;
}