<div class="progress-bar"></div>
<div class="progress-bar colored" ng-style="progressBarStyle"></div>
<div class="timer">
    <strong>Time Remaining</strong><br>
    <span ng-show="time_left.hours > 0">{{time_left.hours}}:</span><!--
    --><span>{{time_left.minutes}}:</span><!--
    --><span>{{time_left.seconds}}</span>
</div>
<h1>{{poll.question}}</h1>
<ul class="answers">
    <li ng-repeat="choice in poll.choices track by $index">
        <a ng-click="vote($index)" href="">{{choice}}</a>
        ({{poll.votes[$index]}} votes)
    </li>
</ul>