<div class="timer">
    <strong>Time Remaining</strong><br>
    <span ng-show="time_left.hours > 0">{{time_left.hours}}:</span><!--
    --><span>{{time_left.minutes}}:</span><!--
    --><span>{{time_left.seconds}}</span>
</div>
<p>The poll id is <strong>{{poll.id}}</strong>.</p>
<p>The question was: <strong>{{poll.question}}</strong></p>
<ul>
    <li ng-repeat="choice in poll.choices track by $index">
        {{choice}}
        ({{poll.votes[$index]}} votes)
        <a ng-click="vote($index)" href="">+</a>
    </li>
</ul>
<p>This poll expires at <strong>{{poll.expiration}}</strong></p>