<!DOCTYPE html>

<html lang="en" ng-app="pollApp">
    <head>
        <title>Strawpoll | Home</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.png")">
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.min.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400,300' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <nav>
                <a href="/" class="title">
                    <i class="fa fa-clock-o"></i>
                    Strawpoll
                </a>
            </nav>
            <section>
                <ng-view></ng-view>
            </section>
        </div>
    </body>
</html>

<script type="text/javascript" src="@routes.Assets.at("js/app.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/apiService.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/controllers/indexController.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/controllers/pollController.js")"></script>