<!DOCTYPE html>

<html lang="en" ng-app="pollApp">
    <head>
        <title>Strawpoll | Home</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.png")">
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.min.js"></script>
    </head>
    <body>
        <ng-view></ng-view>
    </body>
</html>

<script type="text/javascript" src="@routes.Assets.at("js/app.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/controllers.js")"></script>